@media only screen and (max-width: 768px){
    .search {
display: none;    }

.logo-nav{
    margin-left: -4px;}

    .nav{
        height: 54px;

    }
.profile_photo{
    width: 77px;
}
  }

  @media only screen and (min-width: 768px){


.logo-nav{
    margin-left: 14px;}

    .nav{
        height: 63px;

    }
.profile_photo{
    width: 170px;
}
  }



body{
    margin: 0;
    padding: 0;
}
.nav{
    
    display: grid;
    align-items: center;

    grid-template-columns: repeat(24,auto);

    border-bottom :2px  solid rgba(148, 148, 148, 0.295);

    
}
.logo-nav{
   height: 35px;
   grid-column: 5;
    align-self: flex-end;
    margin-bottom: 10px;



}
.search{
    border:1px solid rgba(168, 168, 168, 0.616);
    border-radius: 4px 4px 4px 4px;
    grid-column: 11;
    height: 32px;
        margin-left:29px;

}
.profile{

    display:flex ;
    
    justify-content: center;


}
.profile_container{
width: 60%;
margin-top: 50px;
display: grid;
grid-template-columns: repeat(12,auto);
grid-template-rows: repeat(6,auto);
border-bottom :2px  solid rgba(148, 148, 148, 0.295);

}
.profile_photo{
    border-radius: 50% ;
    grid-column: 2;

}
.profile_info{
    grid-column: 3;
    
}
.proname{
    
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 270%;
    



}
.prouser{
    
}

.gray{
    background-color: rgba(20, 20, 20, 0.63);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    bottom :0;
}
.login{
    width: 400px;
    height: 278px;
    position: absolute;
    left: calc(50% - 200px);
    top: 170px;
    background-color: white;
    z-index: 3;
    border-radius: 15px 15px 15px 15px;


}
